*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: hsl(256, 67%, 59%);
  --light-purple: hsl(254, 88%, 90%);
  --dark-yellow: hsl(39, 100%, 71%);
  --light-yellow: hsl(31, 66%, 93%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--white);
  color: var(--black);
  font-size: 62.5%;
  line-height: 1.5;
  margin: 2rem;
}

h1,
h2,
h3 {
  color: var(--heading-color, inherit);
  font-size: var(--heading-font-size, 2.4rem);
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

.bento-grid {
  display: grid;
  gap: 2.2rem;
}

.bento-grid > * {
  color: var(--bento-card-foreground, var(--black));
  background-color: var(--bento-card-surface, var(--white));
  padding: var(--bento-card-padding, 3rem);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: var(--bento-card-border-radius, 1.4rem);
  span {
    color: var(---heading-span, var(--dark-yellow))
  }
}

.bento-grid > :nth-child(1) {
  --bento-card-foreground: var(--white);
  --bento-card-surface: var(--dark-purple);
  --heading-font-size : 3.2rem;

}
